<!-- Linea de tiempo -->
<section class="timeline-section">

  <div class="cards-title-wrapper animate-fadeInUp">
    <h2 class="gradient-title">{{ conoceText }}</h2>
  </div>
<div class="card mx-auto mb-5" style="max-width: 900px; padding: 2rem;">
  <p class="lead text-muted mb-0">
    Nuestra actividad principal es brindar soluciones de ingeniería especializada en el ramo de la automatización, apoyados en un amplio portafolio de equipos y soluciones de nuestros aliados tecnológicos y en nuestra gran experiencia.
  </p>
</div>


  <div class="timeline" style="position: relative;">
    <div style="
      content: ''; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 4px; height: 100%; background: #007bff;
      z-index: 1;"></div>

    <div *ngFor="let item of infocards; let i = index"
      [ngClass]="['timeline-item', (i % 2 === 0 ? 'left' : 'right'), item.visible !== false ? 'visible' : '']">
      
      <div class="timeline-icon">
        <i [ngClass]="item.icon"></i>
      </div>
      
      <div class="content card">
        <h3>{{ item.title }}</h3>
        <ul>
          <li *ngFor="let point of item.points">{{ point }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Habilidades -->

<section class="habilidades-modernas">
  <div class="container">
    
  <!-- TÍTULO DENTRO DEL CONTENEDOR -->
  <div class="cards-title-wrapper animate-fadeInUp">
    <h2 class="gradient-title">{{ nuestrasText }}</h2>
  </div>

    <div class="habilidades-content">
    
      <div class=" card card-text animate-fadeIn">
        <p>
          Elico inició sus operaciones en 1979 y se consolidó formalmente en el 2013 como Elico Group S.A.S.
        </p>
        <p>
          Somos un integrador de sistemas en automatización industrial con más de 46 años de experiencia...
        </p>
        <p>
          Nuestra oferta de productos y servicios atiende a los clientes en distintos sectores.
        </p>
      </div>

     
      <div class="skills-bars">
        <div class="bar-container">
          <span class="label">46 años de servicio continuo</span>
          <div class="progress-bar" data-width="43%">
            <div class="bar">
              <span class="bar-value" data-value="43">0</span>
            </div>
          </div>
        </div>

        <div class="bar-container">
          <span class="label">Más de 600 proyectos desarrollados</span>
          <div class="progress-bar" data-width="100%">
            <div class="bar">
              <span class="bar-value" data-value="600">0</span>
            </div>
          </div>
        </div>

        <div class="bar-container">
          <span class="label">Más de 15 años certificados en Siemens</span>
          <div class="progress-bar" data-width="25%">
            <div class="bar">
              <span class="bar-value" data-value="15">0</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



  <!-- <div class="cards-title-wrapper animate-fadeInUp">
    <h2 class="gradient-title">{{ historiaText }}</h2>
  </div>

  <div class="timeline">
    <div *ngFor="let item of timelineData; let i = index"
      [ngClass]="['timeline-item', i % 2 === 0 ? 'left' : 'right', item.visible ? 'visible' : '']">
      
      <div class="timeline-icon">
        <i [class]="item.icon"></i>
      </div>
      
      <div class="content card">
        <h3>{{ item.title }}</h3>
        <ul>
          <li *ngFor="let point of item.points">{{ point }}</li>
        </ul>
      </div>
    </div>
  </div>
 -->

<!-- Segunda linea de tiempo -->

<section class="timeline-section">
  <div class="cards-title-wrapper animate-fadeInUp">
    <h2 class="gradient-title">{{ historiaText }}</h2>
  </div>

  <div class="timeline" style="position: relative;">
    <div style="
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 4px;
      height: 100%;
      background: #007bff;
      z-index: 1;
    "></div>

    <div *ngFor="let item of timelineData; let i = index"
      [ngClass]="['timeline-item', (i % 2 === 0 ? 'left' : 'right'), item.visible !== false ? 'visible' : '']">
      
      <div class="timeline-icon">
        <i [class]="item.icon"></i>
    </div>
      
    <div class="content card">
        <h3>{{ item.title }}</h3>

        <img *ngIf="item.image" [src]="item.image" alt="Imagen de {{ item.title }}" class="timeline-image"/>

        <ul>
          <li *ngFor="let point of item.points">{{ point }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>


 

  


  
<!-- Documento tecnicos -->
 <section>
  <div class="container my-5">
    <br>
    <div class="cards-title-wrapper animate-fadeInUp">
      <h2 class=" gradient-title">{{ documentosText }}</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-4" *ngFor="let card of certificadoCards">
        <div class="card h-100 text-center border-0">
          <a [href]="card.pdfUrl" target="_blank">
            <img [src]="card.image" class="card-img-top img-fluid" alt="{{ card.title }}">
          </a>
          <div class="card-body border-top pt-3">
            <a [href]="card.pdfUrl" target="_blank" class="text-decoration-underline text-dark">
              <h5 class="card-title fw-bold text-uppercase mb-0" style="color: #203864;">{{ card.title }}</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  


<!-- Móulo politicas de salud en el trabajo -->
<section>
  <div class="row justify-content-center">
    <div class="col-md-8 mb-4" *ngFor="let card of cards; let i = index">
      <div
        class="card"
        style="
          max-width: 900px;
          margin: 0 auto;
          min-height: 500px;
          padding: 2rem;
        ">
        
        <img
          [src]="card.image"
          class="card-img-top"
          [alt]="card.title"
          style="max-height: 300px; object-fit: cover;">

        <div class="card-body " style="padding: 2rem;">
          <h5 class="timeline card-title mb-3" style="color: #203864; font-size: 1.75rem;">
            {{ card.title }}
          </h5>
          
          <p class=" fs-5">
            {{ card.descShort }}
            <span class="collapse" [id]="'collapseCardText' + i">
              {{ card.descFull }}
            </span>
          </p>
          
          <a
            class="btn btn-link p-0 fs-5"
            data-bs-toggle="collapse"
            [attr.href]="'#collapseCardText' + i"
            role="button"
            (click)="toggleExpand(card)">
            {{ card.expanded ? 'Leer menos' : 'Leer más' }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>





<!-- Botón flotante de WhatsApp -->
<a
  href="https://api.whatsapp.com/send?phone=573136492489"
  target="_blank"
  class="btn btn-success rounded-circle d-flex justify-content-center align-items-center"
  style="
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    font-size: 30px;
  "
>
  <i class="fab fa-whatsapp text-white"></i>
</a>


