<div class="container mb-5">
  <div class="row justify-content-center py-5">
    <div class="col-xl-6">
      <div class="card border-0 shadow-lg">
        <div class="card-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="row justify-content-center mb-3">
                  <img src="/img/logo_empresa.jpg" width="auto" height="145rem">
                </div>
                <h6 class="card_titulo text-center" style="color: grey;">¡Bienvenidos!</h6>
                <form [formGroup]="loginForm">
                  <div class="form-group mb-3">
                    <label for="exampleInputEmail1" style="color: grey;">Correo</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1" style="color: grey;"> Contraseña</label>
                    <input type="password" formControlName="password" class="form-control mb-3">
                  </div>
                  <div class="row justify-content-between p-3">
                    <button class="btn btn-theme col-md-4 mb-3" (click)="login()">
                      {{textIniSesssion}}</button>
                    <a href="authentication/recover-password"
                      class="forgot-link float-right text-primary col-md-8 text-center" style="color: #0039a5;">¿Has
                      olvidado tu contraseña?</a>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
        <!-- end card-body -->
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- Row -->
</div>
