
<div class="container mt-5 py-5" id="tnosotros">
  <div class="row justify-content-center">
    <div class="card col-md-8 border-0">

      <!-- Título con degradado e ícono -->
      <div class="cards-title-wrapper animate-fadeInUp mb-3">
        <div class="d-flex justify-content-center align-items-center gap-2">
          <i class="fa-solid fa-users-rectangle" style="font-size: 28px; color: gray"></i>
          <h2 class="gradient-title mb-0">{{ contactText }}</h2>
        </div>
      </div>

    <div class="card-header text-center text-white fs-4 py-3" style="background: linear-gradient(to right, gray);">
     Formulario PQRSF
    </div>

      <div class="card-body shadow rounded">
        <form [formGroup]="contactForm" class="p-3 col-md-12 text-center">

          <!-- Nombre y Apellidos -->
          <div class="mb-3 text-center">
            <label class="form-label d-flex justify-content-center align-items-center gap-2 fs-4">
              <i class="fa-solid fa-user"></i>
              Nombre y Apellidos
            </label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              [ngClass]="{
                'is-invalid': contactForm.get('name')?.touched && contactForm.get('name')?.invalid
              }">
            <div *ngIf="
                contactForm.get('name')?.touched &&
                contactForm.get('name')?.hasError('required')
              " class="text text-danger">
              Este campo es obligatorio
            </div>
          </div>

          <!-- Empresa -->
          <div class="mb-3 text-center">
            <label class="form-label d-flex justify-content-center align-items-center gap-2 fs-4">
              <i class="fa-solid fa-building"></i>
              Empresa
            </label>
            <input
              type="text"
              formControlName="company"
              class="form-control"
              [ngClass]="{
                'is-invalid': contactForm.get('company')?.touched && contactForm.get('company')?.invalid
              }">
            <div *ngIf="
                contactForm.get('company')?.touched &&
                contactForm.get('company')?.hasError('required')
              " class="text text-danger">
              Este campo es obligatorio
            </div>
          </div>

          <!-- Cargo -->
          <div class="mb-3 text-center">
            <label class="form-label d-flex justify-content-center align-items-center gap-2 fs-4">
              <i class="fa-solid fa-briefcase"></i>
              Cargo
            </label>
            <input
              type="text"
              formControlName="position"
              class="form-control"
              [ngClass]="{
                'is-invalid': contactForm.get('position')?.touched && contactForm.get('position')?.invalid
              }">
            <div *ngIf="
                contactForm.get('position')?.touched &&
                contactForm.get('position')?.hasError('required')
              " class="text text-danger">
              Este campo es obligatorio
            </div>
          </div>

          <!-- Correo -->
          <div class="mb-3 text-center">
            <label class="form-label d-flex justify-content-center align-items-center gap-2 fs-4">
              <i class="fa-solid fa-envelope"></i>
              Correo Electrónico
            </label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              [ngClass]="{
                'is-invalid': contactForm.get('email')?.touched && contactForm.get('email')?.invalid
              }">
            <div *ngIf="
                contactForm.get('email')?.touched &&
                contactForm.get('email')?.hasError('required')
              " class="text text-danger">
              El correo es obligatorio
            </div>
            <div *ngIf="
                contactForm.get('email')?.touched &&
                contactForm.get('email')?.hasError('email')
              " class="text text-danger">
              Ingresa un correo válido
            </div>
          </div>

          <!-- Celular -->
          <div class="mb-3 text-center">
            <label class="form-label d-flex justify-content-center align-items-center gap-2 fs-4">
              <i class="fa-solid fa-phone"></i>
              Celular
            </label>
            <input
              type="text"
              formControlName="phone"
              class="form-control"
              [ngClass]="{
                'is-invalid': contactForm.get('phone')?.touched && contactForm.get('phone')?.invalid
              }">
            <div *ngIf="
                contactForm.get('phone')?.touched &&
                contactForm.get('phone')?.hasError('required')
              " class="text text-danger">
              Este campo es obligatorio
            </div>
          </div>

          <!-- Área de Interés -->
          <div class="mb-3 text-center">
            <label class="form-label d-flex justify-content-center align-items-center gap-2 fs-4">
              <i class="fa-solid fa-layer-group"></i>
              Área de Interés
            </label>
            <input
              type="text"
              formControlName="interestArea"
              class="form-control"
              [ngClass]="{
                'is-invalid': contactForm.get('interestArea')?.touched && contactForm.get('interestArea')?.invalid
              }">
            <div *ngIf="
                contactForm.get('interestArea')?.touched &&
                contactForm.get('interestArea')?.hasError('required')
              " class="text text-danger">
              Este campo es obligatorio
            </div>
          </div>

          <!-- Por qué nos visita -->
          <div class="mb-3 text-center">
            <label class="form-label d-flex justify-content-center align-items-center gap-2 fs-4">
              <i class="fa-solid fa-comment-dots"></i>
              ¿Por qué nos visita?
            </label>
            <textarea
              formControlName="reasonVisit"
              class="form-control"
              rows="3"
              [ngClass]="{
                'is-invalid': contactForm.get('reasonVisit')?.touched && contactForm.get('reasonVisit')?.invalid
              }"></textarea>
            <div *ngIf="
                contactForm.get('reasonVisit')?.touched &&
                contactForm.get('reasonVisit')?.hasError('required')
              " class="text text-danger">
              Este campo es obligatorio
            </div>
          </div>


          <div class="btn-wrapper text-center mt-3">
            <button
            class="btn text-white px-3 py-3 fs-4 border-0"
            style="
                font-size: 28px;
                background: linear-gradient(to right,gray );
            "
            type="button"
            (click)="submitForm()">
            Enviar Solicitud
            </button>
          </div>
          
          
        </form>
      </div>
    </div>
  </div>
</div>
