<!-- CARRUSEL DEL HOME -->
<div id="carouselExampleIndicators" class="carousel slide" style="margin-top: 5rem;" data-ride="carousel"
  data-interval="4000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/prueba1.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- SOLUCIONES CARDS -->

<div class="cards-container">
  <div class="row justify-content-center col-md-12">
    <h2 class="gradient-title mb-0">{{ solucionesText }}</h2>
  </div>

  <div class="flip-card rounded">
    <div class="flip-card-inner">
      <div class="flip-card-front bg-consulting">
        <i class="fas fa-comments"></i>
        Generalización
      </div>
      <div class="flip-card-back">
        <p>Te brindamos apoyo estratégico personalizado para tus proyectos.</p>
        <button class="conocenos-btn" onclick="location.href='/servicio-asesoria'">Ver Servicio</button>
      </div>
    </div>
  </div>

  <div class="flip-card rounded">
    <div class="flip-card-inner">
      <div class="flip-card-front bg-maintenance">
        <i class="fas fa-tools"></i>
        Energía
      </div>
      <div class="flip-card-back">
        <p>Atendemos fallas técnicas y mantenimientos preventivos.</p>
        <button class="conocenos-btn" onclick="location.href='/servicio-mantenimiento'">Ver Servicio</button>
      </div>
    </div>
  </div>

  <div class="flip-card rounded">
    <div class="flip-card-inner">
      <div class="flip-card-front bg-training">
        <i class="fas fa-chalkboard-teacher"></i>
        Automatización
      </div>
      <div class="flip-card-back">
        <p>Cursos presenciales y virtuales en múltiples áreas técnicas.</p>
        <button class="conocenos-btn" onclick="location.href='/servicio-capacitaciones'">Ver Servicio</button>
      </div>
    </div>
  </div>

  <div class="flip-card rounded">
    <div class="flip-card-inner">
      <div class="flip-card-front bg-audit">
        <i class="fas fa-search"></i>
        Digitalización
      </div>
      <div class="flip-card-back">
        <p>Evaluamos y garantizamos el cumplimiento de normativas.</p>
        <button class="conocenos-btn" onclick="location.href='/servicio-auditorias'">Ver Servicio</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN SOLUCIONES CARDS -->


<!-- TEXTO Y VIDEO -->

<!-- <section class="video-section">
  <div class="video-content-wrapper">
    <div class="text-card animate-fadeInUp">
      <div class="text-card-inner">
        <h2 class="gradient-title">{{ fullTitle }}</h2>
        <p class="video-description">{{ fullDesc }}</p>
        <div class="btn-wrapper">
          <button class="conocenos-btn" (click)="goToNosotros()">Conócenos</button>
        </div>
      </div>
    </div>

   
    <div class="video-card animate-fadeInUp">
      <div class="responsive-iframe-container">
        <iframe src="https://www.youtube.com/embed/lgrtGDwxJ-M?si=rSmZ24dnRd6gBlGV" title="Automatización Industrial"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section> -->


<div class="row justify-content-center mb-4 gap-4 flex-wrap m-0">
  <div class="card shadow p-2 col-md-4">
    <h2 class="gradient-title">{{ fullTitle }}</h2>
   <div class="card-texto text-left p-3">
     <p class="">{{ fullDesc }}</p>
    <div class="btn-wrapper">
      <button class="conocenos-btn" (click)="goToNosotros()">Conócenos</button>
    </div>
   </div>
  </div>
  <div class="card col-md-5">
    <iframe class="responsive-iframe-container" src="https://www.youtube.com/embed/lgrtGDwxJ-M?si=rSmZ24dnRd6gBlGV" title="Automatización Industrial"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>



<!-- FIN TEXTO Y VIDEO -->