.gradient-title {
  font-weight: bold;
  background: linear-gradient(to right, #0056b3, #007bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-align: center;
  min-height: 60px;
}